@{
    ViewData["Title"] = "About";
}
<a href="https://github.com/FantasySomething"><h2>@ViewData["Title"]</h2></a>

<div class="member">
    <a href="https://www.linkedin.com/in/evanyfc/"><img src="~/images/EvanC.jpg" alt="Evan C" /></a>
    <h3><a href="https://github.com/evanyfc">Evan Chen</a></h3>
</div>
<div class="member">
    <a href="https://www.linkedin.com/in/lexmyers/"><img src="~/images/LexM.jpg" alt="Lex M" /></a>
    <h3><a href="https://github.com/lexm">Lex Myers</a></h3>
</div>
<div class="member">
    <a href="https://www.linkedin.com/in/marmegh"><img src="~/images/MaryM.jpg" alt="Mary M" /></a>
    <h3><a href="https://github.com/marmegh">Mary Martin</a></h3>
</div>