
@{
    ViewData["Title"] = "Display";
}
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager
@using fantastic.Models
@model fantastic.Models.TeamViewModels.DisplayViewModel

<h2>@Model.myTeam.Name</h2>
<h2><a href="/league/details/@Model.myTeam.league.Id">@Model.myTeam.league.Name</a></h2>

<h3>Players</h3>
@foreach(Athlete player in Model.myPlayers)
{
    <p>@player.Name</p>
}
