@{
    ViewData["Title"] = "Details";
}
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager
@using fantastic.Models
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@model fantastic.Models.LeagueViewModels.DetailsViewModel

<h1>@Model.current.Name</h1>
@if(DateTime.Now<Model.current.StartDate)
{
    @if(Model.current.Admin == Model.user)
    {
        <h4>League enrollment in progress...</h4>
    }
    else
    {
        <h4>This league is currently accepting new teams.</h4>
        <a href="/team/create/@Model.current.Id"><button>Register a Team</button></a>
    }
}
else if (DateTime.Now < Model.current.StartDate.AddDays(Model.current.Length))
{
    <h4>DRAFT IN PROGRESS!</h4>
}
else if(DateTime.Now<Model.current.EndDate)
{
    <h4>This league is active</h4>
}
else
{
    <h4>This league is inactive</h4>
}

<h3>Start: @Model.current.StartDate.ToShortDateString()</h3>
<h3>Completion: @Model.current.EndDate.ToShortDateString()</h3>

<div>
    <h3>Athletes available for draft:</h3>
</div>
<div>

</div>
@if(Model.current.Admin == Model.user)
{
    <form asp-controller="League" asp-action="newAthlete" name="newAthlete" method="post">
        <h5>
            <label asp-for="newAthlete.sport"></label>
            <select asp-for="newAthlete.sport">
                @foreach(Sport sport in Model.allSports)
                {
                    <option value=@sport.Id>@sport.Name</option>
                }
            </select>
            <span asp-validation-for="newAthlete.sport"></span>
        </h5>
        <h5>
            <label asp-for="newAthlete.season"></label>
            <input asp-for="newAthlete.season" />
            <span asp-validation-for="newAthlete.season"></span>
        </h5>
        <h5>
            <label asp-for="newAthlete.name"></label>
            <input asp-for="newAthlete.name" />
            <span asp-validation-for="newAthlete.name"></span>
        </h5>
        <input asp-for="newAthlete.league" value=@Model.current.Id/>
        <button type="submit">Add Athlete!</button>
    </form>

    <form asp-controller="League" asp-action="addAthlete" name="addAthlete" method="post">
        <h5>
            <label asp-for ="addAthlete.athlete"></label>
            <input asp-for ="addAthlete.athlete" />
            <span asp-validation-for="addAthlete.athlete"></span>
        </h5>
    </form>

}